.container {
    width: 100%;
    will-change: contents;
    height: 90%;
    opacity: 0;
    top: 5%;
    margin: 0 auto;
    z-index: 1;
    transform-style: preserve-3d;
    animation: fadeIn 1s forwards;
    animation-delay: 1s;
}

.about-page,
.contact-page,
.career-page{
    .text-zone{

        h1{
            font-size: 53px;
            font-family: 'Coolvetica';
            color: #ffeba7;
            font-weight: 400;
        }

        h2{
          font-size: 33px;
          font-family: 'Coolvetica';
          color: #ffeba7;
          font-weight: 400;
      }


        p{
            font-style: 13px;
            color: #fff;
            font-family: sans-serif;
            font-weight: 300;
            min-width: fit-content;
            animation: pulse 1s;

            &:nth-of-type(1){
                animation-delay: 1.1s;
            }

            &:nth-of-type(2){
                animation-delay: 1.2s;
            }

            &:nth-of-type(3){
                animation-delay: 1.3s;
            }

            &:nth-of-type(4){
              animation-delay: 1.4s;
          }
        }
    }
}
@media screen and (max-width: 800px) {
  .sidebar{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
}

.active{
    visibility: visible;
    opacity: 1;
    transition: opacity 1s linear;
}

#menuToggle {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    z-index: 4;
    background: none;
    border: none;
    outline: none;
    padding: 15px;
    -webkit-tap-highlight-color: transparent;
  }
  
  #menuToggle input {
    display: flex;
    width: 60px;
    height: 60px;
    position: absolute;
    cursor: pointer;
    opacity: 0; /* hide input */
    z-index: 1; /* top of the menu */
  }
  
  #menuToggle span{
    width: 55px;
    height: 8px;
    margin-bottom: 10px;
    background: #ffeba7;
    border-radius: 4px;
    -webkit-transition: all .5s cubic-bezier(.08,.81,.87,.71);
    -moz-transition: all .5s cubic-bezier(.08,.81,.87,.71);
    -ms-transition: all .5s cubic-bezier(.08,.81,.87,.71);
    -o-transition: all .5s cubic-bezier(.08,.81,.87,.71);
    transition: all .5s cubic-bezier(.08,.81,.87,.71);
  }
  
  #span1 {
    transform-origin: 4px 0px;
  }
  
  #span3 {
    transform-origin: bottom right;
  }
  
  #menuToggle input:checked ~ #span1 {
    background-color: #ffeba7;
    transform: rotate(45deg) translate(8px);
  }
  #menuToggle input:checked ~ #span2 {
    background-color: #ffeba7;
    transform: rotate(495deg) translate(4px);   
  }
  #menuToggle input:checked ~ #span3 {
    background-color: #ffeba7;
    transform: rotate(45deg);
    opacity: 0;
  }
}
