.sec-center {
  position: absolute;
  max-width: 100%;
  text-align: center;
  z-index: 200;
  right: 2%;
  top: 2%;
}

.langueBtn {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 15px;
  border-radius: 2px;
  padding: 5px 0;
  padding-left: 20px;
  padding-right: 15px;
}
.langueBtn {
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.dropdown-content{
  animation: growDown 300ms ease-in-out forwards
}
